/* Additional custom styles can go here */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error-message {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}
.error-message:empty {
    opacity: 0;
}
